html,
body{
    height: 100%;
}
#wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    min-height: 100%;
}
#header{
    background: orange;
    padding: 10px 15px;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
nav{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#menu__toggle {
    opacity: 0;
}

.menu__box{
    display: flex;
    padding: 0 15px;
    flex-wrap: wrap;
}
.menu__box > li{
    list-style: none;
    padding: 5px 10px;
}
.menu__box a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.main-container{
    display: flex;
    flex-grow: 1;
}
.main-container > aside{
    min-width: 210px;
}
.content{
    padding: 10px 20px;
}
.content > p{
    text-align: center;
}

#aside1{
    order: -1;
    background: pink;

}
#aside2{
    background: lightskyblue;
}
.main-container > aside > p{
    text-align: center;
}
.content > h1{
    text-align: center;
}
.list{
    margin: 0 -20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.list > li {
    list-style: none;
    width: calc(100%/3);
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px ;
    padding: 10px 20px;
    transition: 0.4s;
}
.box > p,h3{
    text-align: center;
}
.box > p{
    flex-grow: 1;
}
.box >img {
    border-radius: 50%;
    border: 10px solid pink;
}
.link-wrap{
    width: 50px;
    background: rebeccapurple;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
}
.link-wrap > a{
    color: white;
}
.box:hover{
    box-shadow: 5px 5px 1px rgba(255, 0, 0, .56);
    background: coral;

}
#footer{
    background: green;
}
#footer>p{
    text-align: center;
}
@media (max-width: 1199px) {

    #aside2, #aside1{
        min-width: 150px;
    }
}
@media (max-width: 991px) {
    #aside2, #aside1{
        display: none;
    }
}
@media (max-width: 767px) {
    #aside2, #aside1{
        display: none;
    }
    .list > li {
        width: 50%;
    }
    /* стилизуем кнопку */
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: absolute;
        top: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        /*left: -100%;*/
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .25s;
    }
    .menu__box {
        transition-duration: .25s;
    }
    .menu__item {
        transition-duration: .25s;
    }
}
@media (max-width: 575px) {
    .list > li {
        width: 100%;
    }
}



